In [22]:
# single-dimensional 
# series object

In [23]:
import pandas as pd

In [5]:
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

In [8]:
#index change
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
# series object from Dictionary
pd.Series({'a':10,'b':20,'c':30})

a    10
b    20
c    30
dtype: int64

In [12]:
#index change
pd.Series({'a':10,'b':20,'c':30},index=['k','a','c'])

k     NaN
a    10.0
c    30.0
dtype: float64

In [13]:
# Extracting individual element
# single
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1[3]

4

In [14]:
# element from back
s1[-3:]

6    7
7    8
8    9
dtype: int64

In [15]:
# sequence
s1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [16]:
# math operations
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [17]:
s2=pd.Series([10,20,30,40,50,11,22,33,11])
s2

0    10
1    20
2    30
3    40
4    50
5    11
6    22
7    33
8    11
dtype: int64

In [18]:
s1+s2

0    11
1    22
2    33
3    44
4    55
5    17
6    29
7    41
8    20
dtype: int64

In [19]:
# multi-dimensional
# data frame

In [25]:
s3=pd.DataFrame({"Name":["Rishav","Utkarsh","Shivam"],"Marks":[85,88,84]})

In [26]:
s3

      Name  Marks
0   Rishav     85
1  Utkarsh     88
2   Shivam     84

In [27]:
type(s3)

pandas.core.frame.DataFrame

In [ ]:
q=pd.read_csv('q.csv')# if any file save

In [ ]:
q.head()# show this file in head side

In [ ]:
q.tail()# show this file in tail side

In [ ]:
q.shape()# show this file shape

In [ ]:
q.describe() # describe the all data

In [ ]:
q.iloc[0:3,0:2]

In [ ]:
q.loc[10,20,('Sepal.Length','Petal.Length')]

In [ ]:
q.drop('Sepal Length',axis=1)

In [ ]:
q.drop([1,2,3],axis=0)

In [ ]:
q.min()

In [ ]:
q.mean()

In [ ]:
q.median()

In [ ]:
q.max()